<ilpn-page-layout>
    <h2>Synthesize a petri net from a labeled Petri net - This algorithm is submitted to <br> the ATAED 2022 workshop.<br>Here, we use the concepts of: ILP, minimal regions, and generate a Petri net with arc-weights but without short-loops.</h2>
    <hr>

    <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload descriptionText="drag a labeled Petri net file here" [fileDisplay]="FD_PN" [showText]="showUploadText" (fileContent)="processFileUpload($event)"></ilpn-file-upload>
        <mat-slide-toggle [formControl]="slideFc" fxFlexAlign="center"><span class="font">one bound regions</span></mat-slide-toggle>
        <!--    TODO region download as .zip    -->
        <ilpn-file-download descriptionText="click to download synthesis result" squareContent="🐴" [disabled]="result === undefined" [files]="result"></ilpn-file-download>
    </div>

    <hr>
    <h2>download examples</h2>
    <div fxLayout="row">
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="transition system" description="labeled Petri net representing a transition system" link="assets/net_ts.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="partial language" description="labeled Petri net representing a partial language" link="assets/net_pl.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Petri net from Fig. 8" description="Petri net from Fig. 8 of the paper" link="assets/net_paper_fig8.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Petri net from Fig. 10" description="Petri net from Fig. 10 of the paper" link="assets/net_paper_fig10.pn" [download]="true"></ilpn-descriptive-link>
    </div>

</ilpn-page-layout>
