a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

hr {
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.slider {
    align-self: start !important;
}

.font {
    font-family: "Courier New", sans-serif;
}

.sliders {
    margin-top: 2em;
}

.welcome-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.dotted {
    position: relative;
    border-style: dotted;
    z-index: 1;
}

.drawing-area-dimensions {
    width: 100%;
    height: 45vh;
}
.clipped-height {
    height:  calc(45vh - 48px);
}

.drawing-area {
    display: block;
    border-width: 1px;
    border-style: none dotted none dotted;
    border-color: lightgray;
}

.full-width {
    width: 100%;
}

.margin-left {
    margin-left: 8px;
}

.loading-blocker {
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    z-index: 2;
    background-color: #aaaaaaaa;
}

.position-relative {
    position: relative;
}

.margin-divider-examples {
    margin-bottom: 16px;
}

.margin-divider-old-examples {
    margin-top: 40px;
    margin-bottom: 16px;
}

b {
    font-weight: bold;
}

.margin-top {
    margin-top: 16px;
}
