<ilpn-page-layout>
    <h2>
        <b>Synthesize a Petri net from a set of labelled Petri nets</b> - This tool is discussed in
        <br> <a href="https://petrinets2022.github.io/pdf/ATAED-Paper-4.pdf">A First Glimpse at Petri Net Regions</a> by R. Bergenthum and J. Kovář presented at the ATAED 2022 workshop,
        <br> and <i>Synthesizing Petri Nets from Labelled Petri Nets</i> by R. Bergenthum and J. Kovář submitted to PETRI NETS 2025.
    </h2>
    <hr>

    <!--  Welcome layout  -->
    <div fxLayout="row" fxLayoutAlign="center center" class="welcome-padding" *ngIf="noNets">
        <ilpn-file-upload descriptionText="Upload a set of labelled Petri nets" squareContent="🐴" [showText]="showUploadText" (fileContent)="processFileUpload($event)" *ngIf="!(loading$ | async)"></ilpn-file-upload>
        <mat-spinner *ngIf="loading$ | async" color="accent"></mat-spinner>
    </div>

    <!--  Working layout  -->
    <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!noNets">
        <ilpn-pn-display class="drawing-area drawing-area-dimensions position-relative" [petriNet$]="resultNet$">
            <div class="loading-blocker" *ngIf="loading$ | async" fxLayoutAlign="center center">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </ilpn-pn-display>
        <hr class="dotted">
        <ilpn-file-upload-overlay (fileContent)="processFileUpload($event)">
            <div class="drawing-area-dimensions">
                <ilpn-pn-display class="drawing-area full-width clipped-height" [petriNet$]="inputNet$"></ilpn-pn-display>
                <mat-tab-group class="full-width" headerPosition="below" animationDuration="0ms" (selectedIndexChange)="selectedTabIndexChanged($event)">
                    <mat-tab *ngFor="let tab of inputTabs;let i=index; trackBy: trackTabById">
                        <ng-template mat-tab-label>
                            {{tab.label}}
                            <button mat-icon-button class="margin-left"
                                    (mousedown)="prevent($event)"
                                    (click)="tabDeleteButtonClick($event,i)" aria-label="Remove net from synthesis input">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </ilpn-file-upload-overlay>

    </div>

<!--    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">-->
<!--        <ilpn-file-upload descriptionText="drag a set of labeled Petri net files here" [fileDisplay]="FD_PN" [showText]="showUploadText" (fileContent)="processFileUpload($event)"></ilpn-file-upload>-->

<!--        <div fxLayout="column" fxLayoutAlign="center start" class="sliders">-->
<!--            <mat-slide-toggle [formControl]="fcOneBoundRegions" fxFlexAlign="center" class="slider"><span class="font">one-bound regions</span></mat-slide-toggle>-->
<!--            <mat-slide-toggle [formControl]="fcEmptyOutput" fxFlexAlign="center" class="slider"><span class="font">empty at the end</span></mat-slide-toggle>-->
<!--            <mat-slide-toggle [formControl]="fcPartialOrders" fxFlexAlign="center" class="slider"><span class="font">partial order output</span></mat-slide-toggle>-->
<!--        </div>-->

<!--        &lt;!&ndash;    TODO region download as .zip    &ndash;&gt;-->
<!--        <ilpn-file-download descriptionText="click to download synthesis result" squareContent="🐴" [disabled]="result === undefined" [files]="result"></ilpn-file-download>-->
<!--    </div>-->

    <hr class="margin-divider-examples">
    <h2>examples from <i>Synthesizing Petri Nets from Labelled Petri Nets</i> (drop the box onto the 🐴)</h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Example 1" description="Petri net-based specification from Fig. 4 of the paper" [link]="['assets/Figure-4-1.json','assets/Figure-4-2.json','assets/Figure-4-3.json','assets/Figure-4-4.json']" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Example 2" description="State-based specification from Fig. 2 of the paper" link="assets/Figure-2.json" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Example 3" description="Language-based specification, first four runs from Fig. 3 of the paper" [link]="['assets/Figure-3-1.json','assets/Figure-3-2.json','assets/Figure-3-4.json','assets/Figure-3-5.json']"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="Example 4" description="Two general labelled nets" [link]="['assets/Experiment-4-1.json','assets/Experiment-4-2.json']" [download]="true"></ilpn-descriptive-link>
    </div>

    <hr class="margin-divider-old-examples">
    <h2>examples from <i>A First Glimpse at Petri Net Regions (2022)</i></h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="transition system" description="Petri net from Fig. 4 of the workshop paper" link="assets/net_paper_fig4.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="partial language" description="Petri nets from Fig. 1 of the workshop paper" [link]="['assets/net_paper_fig1a.pn','assets/net_paper_fig1b.pn','assets/net_paper_fig1c.pn']"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="labelled Petri net" description="Petri net from Fig. 8 of the workshop paper" link="assets/net_paper_fig8.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="branching process" description="Petri net from Fig. 10 of the workshop paper" link="assets/net_paper_fig10.pn" [download]="true"></ilpn-descriptive-link>
    </div>

</ilpn-page-layout>
