<ilpn-page-layout>
    <h2>
        Synthesize a Petri net from a set of labeled Petri nets - This algorithm was presented in
        <br> <a href="https://petrinets2022.github.io/pdf/ATAED-Paper-4.pdf">A First Glimpse at Petri Net Regions</a> by R. Bergenthum and J. Kovář at the ATAED 2022 workshop.
        <br> Here, we use the concepts of: ILP, minimal regions, and generate a Petri net with arc-weights but without short-loops.
    </h2>
    <hr>

    <!--  Welcome layout  -->
    <div fxLayout="row" fxLayoutAlign="center center" class="welcome-padding" *ngIf="initialUpload">
        <ilpn-file-upload descriptionText="Upload a set of labeled Petri nets" squareContent="🐴" [showText]="showUploadText" (fileContent)="processFileUpload($event)" *ngIf="!(loading$ | async)"></ilpn-file-upload>
        <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    </div>

    <!--  Working layout  -->
    <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!initialUpload">

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
        <ilpn-file-upload descriptionText="drag a set of labeled Petri net files here" [fileDisplay]="FD_PN" [showText]="showUploadText" (fileContent)="processFileUpload($event)"></ilpn-file-upload>

        <div fxLayout="column" fxLayoutAlign="center start" class="sliders">
            <mat-slide-toggle [formControl]="fcOneBoundRegions" fxFlexAlign="center" class="slider"><span class="font">one-bound regions</span></mat-slide-toggle>
            <mat-slide-toggle [formControl]="fcEmptyOutput" fxFlexAlign="center" class="slider"><span class="font">empty at the end</span></mat-slide-toggle>
            <mat-slide-toggle [formControl]="fcPartialOrders" fxFlexAlign="center" class="slider"><span class="font">partial order output</span></mat-slide-toggle>
        </div>

        <!--    TODO region download as .zip    -->
        <ilpn-file-download descriptionText="click to download synthesis result" squareContent="🐴" [disabled]="result === undefined" [files]="result"></ilpn-file-download>
    </div>

    <hr>
    <h2>examples from <i>A First Glimpse at Petri Net Regions (2022)</i></h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="transition system" description="Petri net from Fig. 4 of the workshop paper" link="assets/net_paper_fig4.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="partial language" description="Petri nets from Fig. 1 of the workshop paper" [link]="['assets/net_paper_fig1a.pn','assets/net_paper_fig1b.pn','assets/net_paper_fig1c.pn']"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="labeled Petri net" description="Petri net from Fig. 8 of the workshop paper" link="assets/net_paper_fig8.pn" [download]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link [fileDisplay]="FD_PN" title="branching process" description="Petri net from Fig. 10 of the workshop paper" link="assets/net_paper_fig10.pn" [download]="true"></ilpn-descriptive-link>
    </div>

</ilpn-page-layout>
